<div class="mapping-editor">
    <editable-list ng-show="!showBulk" ng-model="mapping" on-change="callback" required="required"
        add-label="{{addLabel}}" sortable="true" validate="validate" no-change-on-add="noChangeOnAdd">

        <div class="controls">
            <select dku-bs-select
                    ng-model="it.path"
                    ng-options="l[1] as l[0] for l in $parent.$parent.pathList"
                    required="required">
            </select>
        </div>
        <i class="editable-list__arrow-icon icon-long-arrow-right"></i>
        <div><editable-list-input type="text"  ng-model="it.output" ng-trim="false"/></div>
    </editable-list>
</div>
