<div ng-controller="unnestRecipeController" ng-show="finishedLoading">
    <link ng-href="{{ styleSheetUrl }}" rel="stylesheet" type="text/css">
    <form class="dku-form-horizontal">
        <h2 class="settings-section-title">Unnest fields</h2>
        <div class="control-group">
            <mapping-nested add-label="Add output field" ng-model="config.fieldsToUnnest" on-change="!processorForm.$error.required ? checkAndRefresh() : ''"
                            no-change-on-add="true" path-list="inputSchema" required="true"></mapping-nested>
        </div>
    </form>
</div>